.header {
    padding-top: 19px;
    padding-bottom: 19px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    &__item {
        display: flex;
        justify-content: space-between;
        &-descr {
            margin-left: 10px;
            color: #242424;
            text-decoration: none;
            font-size: 12px;
            font-weight: 300;
            h3 {
                color: #242424;
                font-family: "Roboto";
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 0;
            }
            a {
                text-decoration: none;
                color: #242424;
            }
        }
    }
}